.Navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.Navbar ul {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 3rem;
}

.Navbar li {
    list-style-type: none;
    padding: 0 1rem;
}

.Navbar a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

@media screen and (max-width: 600px) {

    .Navbar ul {
        display: none;
    }

}